@{
    ViewData["Title"] = "Home";

    ViewData["Scripts"] = new List<string>();
    ((List<string>)ViewData["Scripts"]).Add("/js/home.js");

    ViewData["Styles"] = new List<string>();
    ((List<string>)ViewData["Styles"]).Add("/css/home.css");
}

<div class="screen-container pvp">
    <div class="menu-container">
        <div data-mode="pvp" class='icon-container'>
            <div class='icon sr-icon'></div>
            <h1 class="mode-title">PVP</h1>
        </div>
        <div data-mode="solo" class='icon-container'>
            <div class='icon aram-icon'></div>
            <h1 class="mode-title">Play alone</h1>
        </div>
    </div>
    <div class="button-container">
        <div class="button blocked">Play</div>
    </div>
</div>